<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="OrangeHRM Test Suite">
    <test name="Login and Admin Tests">
	<classes>
	  <class name="tests.LoginTest"/>
	  <class name="tests.AdminSearchTest"/>
	  <class name="tests.LoginDataProviderTest"/>
	</classes>

    </test>
</suite>
